$primary = #f45a0f

$black-text           = rgba(0,0,0,0.87)
$black-secondary-text = rgba(0,0,0,0.54)
$black-icon           = rgba(0,0,0,0.54)
$black-backdrop       = rgba(0,0,0,0.40)
$black-disabled       = rgba(0,0,0,0.26)
$black-hint-text      = rgba(0,0,0,0.26)
$black-divider        = rgba(0,0,0,0.12)
$black                = #000000

$white-text           = #ffffff
$white-secondary-text = rgba(255,255,255,0.7)
$white-icon           = #ffffff
$white-disabled       = rgba(255,255,255,0.3)
$white-hint-text      = rgba(255,255,255,0.3)
$white-divider        = rgba(255,255,255,0.12)
$white                = #ffffff
