transition-bezier = cubic-bezier(0.4, 0, 0.2, 1)

font-family-sans     = "Titillium Web", Helvetica, Arial, sans-serif
font-family-base      = font-family-sans

font-size-base    = 16px
font-size-smaller = ceil(font-size-base * 0.65)
font-size-small   = ceil(font-size-base * 0.85)
font-size-large   = ceil(font-size-base * 1.25)
font-size-larger  = floor(font-size-base * 1.45)

font-size-h1 = floor((font-size-base * 2.6))
font-size-h2 = floor((font-size-base * 2.15))
font-size-h3 = ceil((font-size-base * 1.7))
font-size-h4 = ceil((font-size-base * 1.25))
font-size-h5 = font-size-base
font-size-h6 = ceil((font-size-base * 0.85))

line-height-base     = 1.428571429
line-height-computed = floor((font-size-base * line-height-base))

rupture.scale       = 0 480px 768px 992px 1170px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl'

container-xs    = 95%
container-sm    = 90%
container-md    = 90%
container-lg    = 780px
container-xl    = 920px
container-fluid = 95%
