.chamada
  width 100%
  background url('../img/chamada-background.png') no-repeat center center
  background-size cover

  &__inner
    @extend.container
    padding rem(100px) rem(85px)  
    
  &__category
    font-size rem(17px)
    font-style italic
    text-transform uppercase
    color rgba(white, .2)
    
  &__title
    margin 0
    line-height rem(46px)
    font-size rem(45px)
    font-weight 600
    color white
    
  &__read-more
    padding rem(5px) rem(10px)
    display inline-block
    margin-top 15px
    border 2px solid $primary
    border-radius rem(6px)
    line-height rem(17px)
    font-size rem(17px)
    font-style italic
    text-decoration none
    text-transform uppercase
    color $primary
    transition all .28s $transition-bezier
    
