.container
  center($container-xs)
  // background red
  +above('sm')
    center($container-sm)
    // background black
  +above('md')
    center($container-md)
    // background green
  +above('lg')
    center($container-lg)
    // background blue
  +above('xl')
    center($container-xl)
    // background purple
