$navbar-background = #484848
$navbar-color = #959595

.navbar
  @extend .cf
  width 100%
  background $navbar-background
  color $navbar-color

  &__inner
    @extend .container
    padding-top 1.4rem
    padding-bottom 1.4rem
    display flex
    flex-direction row
    align-items center

  &__brand
    text-transform uppercase
    font-style italic
    font-size 1.2rem

  &__separator
    width 0.125rem
    height 2.6rem
    background rgba(0,0,0,.4)

  &__menu
    ul
      margin 0
      padding 0
      list-style none
    li
      display inline-block
