$post-thumb-height = 265px

.post-thumb
  width 100%
  height $post-thumb-height
  position relative
  display 
  overflow hidden
  background-color rgba($primary, .7)
  background-position 50%
  background-repeat no-repeat
  background-size cover
  // Fix bug with columns and transitions
  -webkit-column-break-inside avoid
  -moz-column-break-inside avoid
  -o-column-break-inside avoid
  -ms-column-break-inside avoid
  column-break-inside avoid
  -webkit-backface-visibility hidden
  
  &:hover
    .post-thumb__info
      transition all .28s $transition-bezier
      opacity 0

    .post-thumb__card
      opacity 1
      z-index 90
      transition all .28s $transition-bezier
      animation bounceUpIn .4s $transition-bezier

  &--tall
    @extend .post-thumb
    height $post-thumb-height * 2      

 
  &__info
    position absolute
    padding rem(15px) 0 rem(20px) rem(30px)
    bottom 0
    z-index 20
    transition all .4s $transition-bezier
    
  &__category
    margin-bottom rem(6px)
    text-transform uppercase
    font-size rem(12px)
    font-style italic
    font-weight 700
    color $primary
    &--light
      @extend .post-thumb__category
      color white
      
  &__title
    width calc(100% - 20px)
    float left
    font-size rem(21px)
    line-height rem(25px)
    color white
    &--block
      @extend .post-thumb__title
      float none
    
  &__read-more
    background red
    position absolute
    right 0
    bottom rem(20px)
    float right
    padding rem(4px) rem(10px)
    display inline-block
    background $primary
    border-top-left-radius 7px
    border-bottom-left-radius 7px
    font-size rem(12px)
    font-style italic
    text-transform uppercase
    color white  
    
  &__card
    width 100%
    height 100%
    position absolute
    z-index 40
    opacity 0
    font-size rem(14px)
    font-weight 300
    color white
    transition all .28s $transition-bezier
    animation bounceUpOut .4s $transition-bezier
  
    &__backdrop
      width 100%
      height 100%
      position absolute
      background $primary
      opacity .80
      z-index 30
      
    &__info
      @extend .post-thumb__info
      padding-right rem(30px)
      position absolute
      z-index 40
      
    &__description
      width 100%
      display inline-block
      
    &__separator
      width 100%
      height 1px
      background rgba(255, 255, 255, .2)
      margin rem(20px) 0
      
    &__read-more
      padding rem(15px) rem(30px)
      position absolute
      z-index 40
      right 0
      font-size rem(17px)
      font-style italic
      text-transform uppercase
      i
        margin-left rem(10px)
