.topics
  @extend .container
  display flex
  flex-direction row
  padding rem(30px) 0
  +above('lg')
    padding rem(30px) rem(10px)

  &__list
    list-style none
    padding 0
    margin 0
    display flex
    flex-direction row
    flex-wrap wrap

  &__item
    padding-right rem(15px)
    display inline-block
    font-weight 600
    font-style italic
    font-size rem(15px)
    text-transform uppercase
    color #9b9b9b
    transition all .4s $transition-bezier
    &:hover
      cursor pointer
      color darken(#9b9b9b, 100%)
      transition all .4s $transition-bezier
    &:last-child
      padding-right 0

    &--active
      @extend .topics__item
      color #000000
      transition all .4s $transition-bezier

  &__search-box
    margin-left auto
    display none
    +above('lg')
      display block
    input
      background transparent
      border 0
      font-size rem(15px)
      &:focus
        outline 0
    button
      background transparent
      border none
      &:focus
        ouline 0
